.content_dashboard{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px;
    max-width: 800px;
}

.wrap {
    
    display: flex;
    justify-content: space-between;
}

.card__active {
    border: 1px solid gray;
}